{#{% load staticfiles %}#}
{# Load the tag library #}
{% load static %}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{#{% bootstrap_messages %}#}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap4.1.0 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>
    {% block extrahead %}{% endblock %}
</head>

<style>
    body {
        background-color: #edf4fb;
    }

    table {
        table-layout: fixed;
    }

    .table th {
        border: 1px solid #b4b6b8;
    }

    .table tr {
        border: 1px solid #b4b6b8;
    }

    .table td {
        border: 1px solid #b4b6b8;
    }

    {% block extracss %}{% endblock %}

</style>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="{% url 'mycalendar:month_with_schedule' %}">作業工数管理（仮）</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'mycalendar:DailyInputList' %}">入力一覧</a>
                </li>
                {#            {% if user.is_staff %}#}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'mycalendar:DailySumList' %}">日次集計一覧</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'mycalendar:MonthlySumList' %}">月次集計一覧</a>
                </li>
                {#            {% endif %}#}
                <li>
                    <a class="nav-item nav-link active" href="{% url 'mycalendar:datatable' %}">全登録データ</a>
                </li>
                <li>
                    <a class="nav-item nav-link active" href="{% url 'account_change_password' %}">パスワード変更</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'account_logout' %}">ログアウト</a>
                </li>
                {% block navbar %}
                {% endblock %}
                </ul>
                <span style="color:white;" class="navbar-text navbar-right">ログイン中：{{ user.get_username }}</span>
            {% endif %}

    </div>
</nav>

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<div class="container-fluid">
    {% block contents %}
    {% endblock %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

<!-- jsを書く場所 -->
<script>{% block extrajs %}{% endblock %}</script>

</body>
</html>
