{% extends 'base.html' %}
<head>
    {% block title %}Chart{% endblock %}
</head>

{% block extracss %}
    .container {
    width: 80%;
    margin: 15px auto;
    }
{% endblock %}

<body>
{% block contents %}
    <div class="table-sm">
        <table class="table table-bordered table-hover">
            <thead>
            <tr class="table-secondary">

                <th>大項目</th>
                <th>工数</th>
                <th>登録者</th>
            </tr>
            </thead>
            <tbody>
            {% for index, row in df.iterrows %}
                <tr>
                    <td>{{ row.LargeItemLabel }}</td>
                    <td>{{ row.kosu }} </td>
                    <td>{{ row.register }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="container-fluid">
        <h2>PieChart(工事中)</h2>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <canvas id="PieChart1"></canvas>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <canvas id="PieChart2"></canvas>
                </div>
            </div>
        </div>
        <br>
        <h2>BarGraph(工事中)</h2>
        <div class="col-md-8">
            <div>
                <canvas id="BarGraph"></canvas>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script>
        {% block extrajs %}
            var ctx = document.getElementById("PieChart1").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: [{% for index, row in df.iterrows %}
                            '{{ row.LargeItemLabel }}',
                    {% endfor %}],
                    datasets: [{
                        backgroundColor: [
                            "#2ecc71",
                            "#3498db",
                            "#95a5a6",
                            "#9b59b6",
                            "#f1c40f",
                            "#e74c3c",
                            "#34495e"
                        ],
                        data: [{% for index, row in df.iterrows %}
                                {{ row.kosu }},
                                 {% endfor %}],
                    }]
                },
                options: {
                    title: {
                        display: true,
                        position: 'bottom',
                        fontSize: 15,
                        text: 'register'
                    }
                }
            });


            var ctx = document.getElementById("PieChart2").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ["test1", "test2", "test3", "test4", "test5", "test6", "test7"],
                    datasets: [{
                        backgroundColor: [
                            "#2ecc71",
                            "#3498db",
                            "#95a5a6",
                            "#9b59b6",
                            "#f1c40f",
                            "#e74c3c",
                            "#34495e"
                        ],
                        data: [12, 19, 3, 17, 28, 24, 7]
                    }]
                }
            });


            var ctx = document.getElementById("BarGraph").getContext('2d');
            var original = Chart.defaults.global.legend.onClick;
            Chart.defaults.global.legend.onClick = function (e, legendItem) {
                update_caption(legendItem);
                original.call(this, e, legendItem);
            };
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{% for index, row in register.iterrows %}
                        '{{ row.register }}',
                    {% endfor %}                    ],

                    datasets: [{
                        label: 'test1',
                        backgroundColor: "rgba(91,155,213,1)",
                        data: [{% for index, row in df.iterrows %}
                            {% if row.LargeItem == 1%}
                                '{{ row.kosu }}',
                            {% endif %}
                        {% endfor %}        ],
                    },
                        {
                            label: 'test7',
                            backgroundColor: "rgba(37,94,145,1)",
                            data: [{% for index, row in df.iterrows %}
                                {% if row.LargeItem == 7%}
                                    '{{ row.kosu }}',
                                {% endif %}
                            {% endfor %}        ],
                        }]
                },
                options: {
                    title: {
                        display: true,
                        text: '項目の数（〇〇別）',
                        padding: 3,
                        fontSize: 26
                    },
                    scales: {
                        xAxes: [{
                            stacked: true, //積み上げ有効・無効設定
                            categoryPercentage: 0.8
                        }],
                        yAxes: [{
                            stacked: true, // 積み上げ有効・無効設定
                            ticks: {
                                stepSize: 2 // ExcelのStep数に合わせる
                            }
                        }]
                    },
                    legend: {
                        labels: {
                            boxWidth: 12,
                            padding: 20
                        },
                        display: true
                    },
                    tooltips: {
                        mode: 'label'
                    }
                }
            });



        {% endblock %}


    </script>

{% endblock %}
</body>


